<br>
 <div class="row">
    <div class="col-2"></div>
    <div class="col-2 bg-light"></div>

    <div class = "col bg-light">
        <br>
   
            <h3>Edit Student</h3>

            <%= render 'form', student: @student%>
            <br>
    </div>
    <div class="col-1 bg-light"></div>

     <div class="col-2"></div>
</div>