
<h5>Course</h5>
<h6>Subject: <%=link_to @enrollment.course.subject, lecturer_course_path(current_lecturer, @enrollment.course)%></h6>
<h6>Lecturer: <%=link_to @enrollment.course.lecturer, lecturer_path(@enrollment.course.lecturer)%></h6>
<h6>Day: <%=link_to @enrollment.course.day%></h6>
<br/>

<h5>Grade</h6>
<h6>Student: <%=link_to @enrollment.student.name, student_path(@enrollment.student)%></h6>