<h3>Enrollment</h3>
<br/>

<%= render 'enrollment'%>
<h6>Grade: <%=link_to @enrollment.grade%></h6>

<%= link_to "Add/Edit Grade", edit_enrollment_path(@enrollment), class: "btn btn-outline-primary btn-sm"%>
<%= link_to("Disenroll", enrollment_path(@enrollment), method: :delete, class: "btn btn-outline-primary btn-sm", data:{confirm: "Are you sure you want to remove student from the course?"}) %>