<h4>Edit Course</h4>
<% if @course.errors.any? %>
        <h5 class="error"><%= @course.errors.full_messages.to_sentence %></h5>
<% end %>

<%= render partial: 'form', locals: { url: lecturer_course_path(current_lecturer, @course)}%>