
<br>
 <div class="row">
    <div class="col-2"></div>
    <div class="col-2 bg-light"></div>

    <div class = "col bg-light">
        <br>
        <h4>Edit Profile</h4>

        <%= render 'form', lecturer: @lecturer%>
                    <br>
    </div>

    <div class="col-1 bg-light"></div>

     <div class="col-2"></div>
     
</div>