<%if @lecturer == current_lecturer%>
    <h1> Welcome, Professor <%=@lecturer.last_name%>.</h1>
<%else%>
    <h1>Professor <%=@lecturer.fullname%>'s Profile<h1>
<%end%>

Courses: 
<ol class="list-group list-group-flush">
<%@lecturer.courses.each do |c|%>
    <li class="list-group-item"> <%=link_to c.name, lecturer_list_path(@lecturer, c)%> </li>
<%end%>
</ol>

<br>
<%= link_to "New Course", new_lecturer_course_path(@lecturer), class: "btn btn-outline-primary btn-sm"%>
